@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair+Display+SC&family=Roboto:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 1.3rem;
}

h1 {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
}
h2 {
  text-align: center;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 31px;
  text-align: center;
}

.hero {
  padding: 100px 0;
  background-color: #f3eed9;
  color: #824936;
}

.hero p {
  margin-bottom: 3em;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}

.col {
  /* these are now flex items */
  width: 100%;
  margin-top: 3rem;
}

.col + .col {
  margin-left: 30px;
}
.header {
  font-size: 46px;
  margin-left: 16rem;
  width: 50%;
}

.first-section {
  min-height: 400px;
}

.second-section {
  min-height: 400px;
  background-color: #222c2a;
  color: #f3eed9;
}
.third-section {
  min-height: 400px;
  background-color: #824936;
  color: #f3eed9;
}
