/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.container {
  width: 80%;
  max-width: 68.75rem;
  margin: 0 auto;
}

.first-row .second-row {
  width: 80%;
  margin-top: 1.5625rem 1.5625rem;
  max-width: 68.75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.second-row {
  margin: 1.5625rem 1.5625rem;
}

.row {
  /* display: flex => flex container */
  display: flex;
  justify-content: space-between;

  /* can't use yet */
  /* gap: 100px; */
}

.col {
  /* these are now flex items */
  width: 100%;
  padding: 0 1.5625rem;
}

.hero {
  padding: 6.25rem 0;
  background-color: #23424a;
  color: #fff;
}

.hero__text {
  width: 62%;
}

.hero__img {
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.main-section {
  display: flex;
  justify-content: center;
}

.first-section {
  margin-top: 3.125rem;
}

.first-heading {
  color: #23424a;
}

.first-par {
  color: #3a3a3a;
}

.second-section {
  margin: 3.125rem 0;
  background-color: #136c72;
  color: #fff;
}

.second-heading {
  text-align: center;
}

.second-par {
  text-align: center;
}
