* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  background: #23424a;
  color: white;
  padding: 50px 0;
}

.intro-content {
  max-width: 750px;
  width: 50%;
}

.main-container {
  display: flex;
  justify-content: center;
}

.main-content {
  max-width: 750px;
  width: 50%;
}
